<footer>
    <div class="request-items">
        <div class="top"></div>
    </div>
    <div class="copyrights">
            <div><a href="" class="footer-logo">Jonas Club</a></div>
            <div>
                <span class="copyright-txt">
                    <a href="#_">Privacy policy</a>
                    <a href="#_">Terms of service</a>
                    Copyright &copy; 2019 - Jonas Club. All rights reserved.</span>
            </div>
            <div class="social-links">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
            <div><span class="help-desk">Phone:  <a href="tel:123-123-1234">123-123-1234</a></span></div>
    </div>

</footer>
